*{
	font-family: 'Montserrat','roboto' , sans-serif;
}
header{
	height: auto;
    background-color: #003668;
    padding: 10px;
}
.header-logo a{
	padding: 5px;
	color: #fff;
	font-size: 1.3em;
	text-decoration: none;
}
.header-logo a:hover{
	color: #FFC21C;
}
.header-menu{
	padding-top: 5px;
	width: auto;
}
.header-menu a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	display: flex; 
}
.header-menu a:hover{
	color:#FFC21C;
}
header .btn-menu{
	color: #656262;
	font-size: 30px;
	border: 2px solid;
	padding: 5px;
}
header .btn-menu:hover{
	color: #FFC21C;
}
.section-actualite-title {
	padding: 25px;
	color: #003d9e;
	text-align: center;
	font-weight: bold;
}
.section-actualite-title h2{
	margin-top: 20px;
	background-image: none;
}
.table{
	box-shadow: 0 0 8px #9b9b9b;
	width: 100%;
	font-size: 14px;
}
thead{
	background-color: #003668;
	color: #fff;
    font-weight: 400;
    position: relative;
}
.pagination{
	padding: 15px;
	font-size: 14px;
}
.signature {
    color: #778191;
    background-color: #003668;
    padding: 30px;
    font-size: 1.3em;
    color: white;
}
.signature a{
	text-decoration: none;
	color: white;
}
.signature a:hover{
	color: #FFC21C;
}